@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* variable */
:root {
    --major-bg-color: #131921;
    --minor-bg-color: #ebeded;
    --amazon-major-color: #febd68;
}

/* body */
body {
    background-color: var(--minor-bg-color);
}

.header {
    width: 100%;
    height: 50px;
    background-color: var(--major-bg-color);
    display: flex;
    justify-content: center;
}

.header .header-nav {
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.header .header-nav .header-container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-nav .header-container .amazon-logo {
    width: 100px;
}

.header .header-nav .header-container .header-search {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header .header-nav .header-container .header-search .search-input {
    width: 100%px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

.header .header-nav .header-container .search-button {
    width: 40px;
    height: 42px;
    background-color: var(--amazon-major-color);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #232323;
}

.header .header-nav .header-container .header-cart {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-nav .header-container svg {
    width: 40px;
    height: 40px;
}

/* section 1 */
.section-1 {
    background: url('https://images-eu.ssl-images-amazon.com/images/G/31/img22/WLA/July/PFS_Unrechero/D50756151_WLA_GW_Heroes_Unrec__Tall_Hero_3000x1200._CB632954420_.jpg');
    background-size: cover;
    height: auto;
    display: flex;
}

.section-1 .section-1-container {
    margin-top: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.section-1 .section-1-container .section-1-coloumn {
    width: 100%;
    background-color: #ccc;
    padding: 20px;
}

.section-1 .section-1-container .section-1-coloumn img {
    margin-top: 20px;
    width: 100%;
}

.section-1 .section-1-container .section-1-coloumn p {
    margin-top: 10px;
    font-size: 14px;
    color: #007185;
}

.section-1 .section-1-container .section-1-coloumn button {
    margin-top: 20px;
    width: 100%;
    border: none;
    background-color: var(--amazon-major-color);
    padding: 8px;
    border-radius: 8px;
}

/* section 2 */
.section-2 {
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.section-2 .section-2-container h3 {
    margin-bottom: 10px;
}

.section-2 .section-2-container .product-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}

.section-2 .section-2-container .product-card {
    display: inline-block;
    width: 300px;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}

.section-2 .section-2-container .product-card img {
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 270px;
}

.section-3 {
    background-color: white;
}

.section-3 .section-3-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

.section-3 .section-3-container .product-detail-cards {
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}

.section-3 .section-3-container .product-detail-cards .product-detail-card {
    display: inline-block;
    width: 200px !important;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4;
}

.section-3 .section-3-container .product-detail-cards .product-detail-card .product-detail-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-3 .section-3-container .product-detail-cards .product-detail-card .product-detail-image img {
    width: 100%;
    height: auto;
    max-width: 160px;
    max-height: 160px;
}

.section-3 .section-3-container .product-detail-cards .product-detail-card a {
    text-decoration: none;
    color: #007185;
    font-size: 14px;
}

.section-3 .section-3-container .product-detail-cards .product-detail-card a:hover {
    color: #cd4556;
}

.section-3 .section-3-container .product-detail-cards .product-detail-card .Product-delivered-by {
    color: #222;
    font-size: 10px;
}

.section-4 {
    padding: 20px;
}

.section-4 .section-4-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-4 .section-4-container p {
    margin-top: 14px;
    font-size: 14px;
}

.section-4 .section-4-container button {
    width: 300px;
    border: none;
    background-color: var(--amazon-major-color);
    padding: 8px;
    border-radius: 10px;
}

/* Footer */
footer {
    margin-top:20px;
    font-size: 12px;
    width:100%;
    height:50px;
    color:white;
    background-color: var(--major-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}